.cart-product {
    width: 200px;
    height: 130px;
}

body {
  font-family: 'Open sans';
}


.cart-product-img {
    width: 100%;
    height: 100%;
}

.badge-notification i {
    width: 100px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
  }

.badge-notification .badge:after {
    content: "100";
    position: absolute;
    background: blue;
    height: 2rem;
    top: 1rem;
    right: 1.5rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    border: 1px solid blue;
}

#ex3 .fa-stack[data-count]:after {
    position: absolute;
    right: -20%;
    top: 1%;
    content: attr(data-count);
    font-size: 60%;
    padding: .6em;
    border-radius: 50%;
    line-height: .8em;
    color: white;
    background: rgba(255, 0, 0, 0.85);
    text-align: center;
    min-width: 1em;
    font-weight: bold;
}

#name-link {
    color: black;
}

html, #login-form {
  height: 100%;
}

#login-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

